<!-- schedule.html -->
{% extends "base.html" %} {% load staticfiles%} {% block content %}
<script src="/static/js/validatePassport.js"></script>
<script src="/static/js/passportModal.js"></script>

<article class="passport">
  <h1>Clinic Passport</h1>
  <br>
  <div class="passport-form">
    <form method="get" class="timeRangeForm" name="searching_form">
      Search by Time Range
      <input type="date" id="time1" name="timebound1" placeholder="yyyy-mm-dd" class="form-input">
      <input type='date' id="time2" name="timebound2" placeholder="yyyy-mm-dd" class="form-input">
      <input type="submit" name="search_by_range" value="Search" class="general-button" onclick="return checkSearchingDate();">
      </br>
      <span id="time1_error_alert"></span><span id="time2_error_alert"></span>
      </br>
    </form>

    <button class="general-button" id="new-pass-btn" onclick="openModal()">Add New Passport</button>

    <table class="passport-table">
      <tr>
        <th>Reason</th>
        <th>Service</th>
        <th>Date</th>
        <th>Scheduled Appointment Time</th>
        <th>Arrival Time</th>
        <th>Day Surgery/Admitted Surgery</th>
        <th>Departure Time</th>
        {% for provider in providers %} {% with timein=provider|add:"_Time_In" %}
        <th>{{timein}}</th>
        {% endwith %} {% with timeout=provider|add:"_Time_Out" %}
        <th>{{timeout}}</th>
        {% endwith %} {% with timecomment=provider|add:"_Comment" %}
        <th>{{timecomment}}</th>
        {% endwith %} {% endfor %}
      </tr>
      {% for each in passport %}
      <tr>
        <th>{{each.Reason}}</th>
        <th>{{each.Service}}</th>
        <th>{{each.Date|get_date}}</th>
        <th>{{each.Scheduled_Time}}</th>
        <th>{{each.Arrival_Time}}</th>
        <th>{{each.Surgery_Type}}</th>
        <th>{{each.Departure_time}}</th>
        {% for provider in providers %} {% with timein=provider|add:"_Time_In" %}
        <th>{{each|get_item:timein }}</th>
        {% endwith %} {% with timeout=provider|add:"_Time_Out" %}
        <th>{{each|get_item:timeout}}</th>
        {% endwith %} {% with timecomment=provider|add:"_Comment" %}
        <th>{{each|get_item:timecomment}}</th>
        {% endwith %} {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <div id="passportModal">
      <div class="passport-post">
        <span onclick="hide()" class="pass-mod-close">&times;</span>
        <h2>New Passport</h2>
        <br>
        <form method="post">
          <fieldset>
            {% csrf_token %} Reason for Visit
            <textarea class="passport-input" name="Reason"></textarea>
            <br> Service
            <br>
            <textarea class="passport-input" name="Service"></textarea>
            <br> Date
            <br>
            <textarea class="passport-input" name="Date"></textarea>
            <br> Scheduled Appointment Time
            <br>
            <textarea class="passport-input" name="Scheduled_Time"></textarea>
            <br> Arrival Time
            <br>
            <textarea class="passport-input" name="Arrival_Time"></textarea>
            <br> Day Surgery/Admitted Surgery
            <br>
            <textarea class="passport-input" name="Surgery_Type"></textarea>
            <br> Departure Time
            <br>
            <textarea class="passport-input" name="Departure_time"></textarea>
            <div class="passport-add">
              <input type="submit" name="Add_Passport" value="Add Passport" class="general-button" onclick="hide()">
            </div>
          </fieldset>
          {% for a in providers %}
          <fieldset id="passport-col"> {{a}} Time in
            <br>
            <textarea class="passport-input" name="{{a}}_Time_In"></textarea>
            <br> {{a}} Time out
            <br>
            <textarea class="passport-input" name="{{a}}_Time_Out"></textarea>
            <br> {{a}} Comment
            <br>
            <textarea class="passport-input" name="{{a}}_Comment"></textarea>
            <br>
          </fieldset> {% endfor %}
        </form>
      </div>
    </div>
  </div>
</article>

{% endblock %}
