{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<h1>Clinic schedule lists</h1>
    <ul>
      {% for each in date %}
        <li><a href="http:////127.0.0.1:8000/simengine?date={{each}}"> {{each}} </a>
            <form action="" method="post">
             {% csrf_token %}
                <input type="hidden" name="the_date" value="{{each}}">
            </form>
         {% endfor %}
         </ul>
      <br>
      <a href="http://127.0.0.1:8000/setting">to_setting</a>
{% endblock %}
