  {% extends "base.html" %}
{% load staticfiles%}

{% block content %}    <h1>Clinic schedule lists</h1>
    <ul>
      {% for each in date %}
      	<li><a href="http:////127.0.0.1:8000/singleschedule?date={{each}}"> {{each}} </a>
     		<form method="post">
     		 {% csrf_token %}
     			<input type="hidden" name="the_date" value="{{each}}">
     			<input type="submit" name="DeleteSchedule" value="Delete">
     		</form>
         {% endfor %}
         </ul>
      <br>
       <a href="http://127.0.0.1:8000/setting">to_setting</a>
  {% endblock %}